export(calcSurv)
export(comp2Surv)
export(compNSurv)
export(compSurvfit)
export(covMatSurv)
export(Gw)
export(KM)
export(lrSS)
export(NelA)
export(NelAVar)
export(quantileSurv)
export(survEst)
export(tneSurv)
export(tneSurvByGroup)
export(tneSurvfit)
S3method(mean,Surv)
S3method(plot,Surv)
